# fly.toml app configuration file generated for emux-relay on 2026-02-15T09:24:06+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'emux-relay'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
