app = 'emux-relay'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  internal_port = 8080
  protocol = "udp"
  [[services.ports]]
    port = 8080

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
