name: Build Genesis and NGP Cores

on:
  push:
    paths:
      - '.github/workflows/build-genesis-ngp.yml'
  workflow_dispatch:

jobs:
  build-genesis:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout EmuX & Setup Emscripten
      uses: actions/checkout@v3
      with:
        path: emux
    - uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.46
    - name: Fetch and Build Genesis Plus GX Core
      run: |
        git clone --depth 1 https://github.com/libretro/libretro-super.git
        cd libretro-super && ./libretro-fetch.sh genesis_plus_gx && cd ..
        cd libretro-super/libretro-genesis_plus_gx
        # 1. Build với STATIC_LINKING=0 để core tự gộp các util (VFS, FileStream)
        emmake make -f Makefile.libretro platform=emscripten -j$(nproc) STATIC_LINKING=0 WANT_ZLIB=1 WANT_VFS=1
        
        # 2. Thu thập tất cả các file object đã biên dịch (bao gồm cả libretro-common)
        ALL_OBJS=$(find . -name "*.o")
        
        # 3. Link sang JS/WASM
        emcc $ALL_OBJS -O3 -flto -DNDEBUG -s WASM=1 -s USE_ZLIB=1 -s ENVIRONMENT=web \
          -s ALLOW_MEMORY_GROWTH=1 -s ALLOW_TABLE_GROWTH=1 -s INITIAL_MEMORY=128mb -s STACK_SIZE=4mb \
          -s EXPORTED_RUNTIME_METHODS='["addFunction","FS","stringToUTF8","UTF8ToString","ccall","cwrap"]' \
          -s EXPORTED_FUNCTIONS='["_retro_init","_retro_run","_retro_load_game","_retro_get_system_av_info","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_malloc","_free"]' \
          -o genesis.js
        zip -j genesis.zip genesis.{js,wasm}
    - uses: actions/upload-artifact@v4
      with:
        name: genesis-core
        path: libretro-super/libretro-genesis_plus_gx/genesis.zip

  build-ngp:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout EmuX & Setup Emscripten
      uses: actions/checkout@v3
      with:
        path: emux
    - uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.46
    - name: Fetch and Build Beetle NGP Core
      run: |
        git clone --depth 1 https://github.com/libretro/libretro-super.git
        cd libretro-super && ./libretro-fetch.sh mednafen_ngp && cd ..
        cd libretro-super/libretro-mednafen_ngp
        # 1. Build với STATIC_LINKING=0
        emmake make platform=emscripten -j$(nproc) STATIC_LINKING=0 WANT_VFS=1
        
        # 2. Thu thập objects
        ALL_OBJS=$(find . -name "*.o")
        
        # 3. Link
        emcc $ALL_OBJS -O3 -flto -DNDEBUG -s WASM=1 -s USE_ZLIB=1 -s ENVIRONMENT=web \
          -s ALLOW_MEMORY_GROWTH=1 -s ALLOW_TABLE_GROWTH=1 -s INITIAL_MEMORY=128mb -s STACK_SIZE=4mb \
          -s EXPORTED_RUNTIME_METHODS='["addFunction","FS","stringToUTF8","UTF8ToString","ccall","cwrap"]' \
          -s EXPORTED_FUNCTIONS='["_retro_init","_retro_run","_retro_load_game","_retro_get_system_av_info","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_malloc","_free"]' \
          -o ngp.js
        zip -j ngp.zip ngp.{js,wasm}
    - uses: actions/upload-artifact@v4
      with:
        name: ngp-core
        path: libretro-super/libretro-mednafen_ngp/ngp.zip
