name: Build All Cores

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: build-${{ matrix.core.id }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        core:
          - { id: gba, name: mgba, fetch: mgba, make: "-f Makefile.libretro", initial_mem: 256mb, stack: 8mb, method: objects }
          - { id: nes, name: quicknes, fetch: quicknes, initial_mem: 128mb, stack: 4mb, method: objects }
          - { id: snes, name: snes9x, fetch: snes9x, make: "-C libretro", initial_mem: 256mb, stack: 8mb, method: objects }
          - { id: pce, name: mednafen_pce_fast, fetch: mednafen_pce_fast, make: "-f Makefile WANT_VFS=1", initial_mem: 128mb, stack: 4mb, method: objects }
          - { id: neogeo, name: fbneo, fetch: fbneo, subdir: "src/burner/libretro", make: "WANT_VFS=1", initial_mem: 256mb, stack: 8mb, method: arcade }
          - { id: genesis, name: genesis_plus_gx, fetch: genesis_plus_gx, make: "-f Makefile.libretro STATIC_LINKING=0 WANT_ZLIB=1 WANT_VFS=1", initial_mem: 256mb, stack: 8mb, method: objects }
          - { id: ngp, name: mednafen_ngp, fetch: mednafen_ngp, make: "STATIC_LINKING=0 WANT_VFS=1", initial_mem: 128mb, stack: 4mb, method: objects }
          - { id: ps1, name: pcsx_rearmed, fetch: pcsx_rearmed, make: "-f Makefile.libretro DYNAREC='' GPU_PEOPS=1 WANT_ZLIB=1 GLES=1 WANT_VFS=1", initial_mem: 512mb, stack: 16mb, method: objects }
          - { id: snes2010, name: snes9x2010, fetch: snes9x2010, make: "-f Makefile.libretro STATIC_LINKING=0", initial_mem: 128mb, stack: 4mb, method: objects }
          - { id: nds, name: melonds, fetch: melonds, initial_mem: 512mb, stack: 32mb, method: objects }
          - { id: nds2021, name: melonds2021, fetch: melonds2021, initial_mem: 512mb, stack: 32mb, method: objects }
          - { id: a26, name: stella2014, fetch: stella2014, make: "-f Makefile", initial_mem: 64mb, stack: 2mb, method: objects }
          - { id: wswan, name: mednafen_wswan, fetch: mednafen_wswan, make: "-f Makefile", initial_mem: 128mb, stack: 4mb, method: objects }
          - { id: pokemini, name: pokemini, fetch: pokemini, initial_mem: 128mb, stack: 2mb, method: objects }
          - { id: lynx, name: handy, fetch: handy, make: "-f Makefile", initial_mem: 128mb, stack: 4mb, method: objects }

    steps:
    - uses: actions/checkout@v4
      with:
        path: emux

    - name: Install ccache
      run: sudo apt-get update && sudo apt-get install -y ccache

    - name: Cache EMSDK
      id: cache-emsdk
      uses: actions/cache@v4
      with:
        path: emscripten-sdk
        key: emsdk-${{ runner.os }}-3.1.46

    - uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.46
        actions-cache-folder: 'emscripten-sdk'

    - name: Cache CCache files
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ccache-${{ matrix.core.id }}-${{ github.run_id }}
        restore-keys: |
          ccache-${{ matrix.core.id }}-

    - name: Cache Emscripten Ports
      uses: actions/cache@v4
      with:
        path: ~/.emscripten_cache
        key: ports-v4-${{ runner.os }}-${{ hashFiles('emux/.github/workflows/build-all-cores.yml') }}

    - name: Cache Libretro Sources
      uses: actions/cache@v4
      with:
        path: libretro-super
        key: lib-v4-${{ matrix.core.fetch }}-${{ hashFiles('emux/sw.js') }}
        restore-keys: |
          lib-v4-${{ matrix.core.fetch }}-

    - name: Fetch
      run: |
        if [ ! -d "libretro-super" ]; then
          git clone --depth 1 https://github.com/libretro/libretro-super.git
        fi
        if [ "${{ matrix.core.id }}" == "nds2021" ]; then
          [ ! -d "libretro-super/libretro-melonds2021" ] && git clone --depth 1 --branch before-rebase-20210922 https://github.com/libretro/melonDS.git libretro-super/libretro-melonds2021 || true
        else
          cd libretro-super
          if [ ! -d "libretro-${{ matrix.core.fetch }}" ]; then
            ./libretro-fetch.sh ${{ matrix.core.fetch }}
          fi
        fi

    - name: Pre-build Ports
      run: embuilder build zlib

    - name: Build Core
      run: |
        export CCACHE_DIR=$HOME/.ccache
        export CCACHE_MAXSIZE=1G
        export CCACHE_COMPRESS=1
        ccache -z

        export CC="ccache emcc"
        export CXX="ccache em++"
        export OPT_FLAGS="-Os -ffast-math -fno-tree-vectorize -ffunction-sections -fdata-sections -flto -DNDEBUG"
        export JOBS="$(nproc)"
        
        if [ "${{ matrix.core.id }}" == "neogeo" ]; then
          # Full Arcade Build needs careful resources
          export OPT_FLAGS="-Os -ffast-math -fno-tree-vectorize -ffunction-sections -fdata-sections -DNDEBUG"
          export JOBS="2"
        fi
        
        export CFLAGS="$OPT_FLAGS"
        export CXXFLAGS="$OPT_FLAGS"
        export LDFLAGS="$OPT_FLAGS"
        
        cd libretro-super/libretro-${{ matrix.core.fetch }}
        if [ -n "${{ matrix.core.subdir }}" ]; then cd ${{ matrix.core.subdir }}; fi
        
        if [ "${{ matrix.core.id }}" == "nds2021" ]; then
          sed -i 's/-Wl,--no-undefined//g' Makefile
          sed -i 's/-Wl,--version-script=[^ ]*//g' Makefile
        fi
        
        emmake make ${{ matrix.core.make }} platform=emscripten -j$JOBS || true
        ccache -s

        cd $GITHUB_WORKSPACE/libretro-super/libretro-${{ matrix.core.fetch }}
        emcc -c $GITHUB_WORKSPACE/emux/.github/workflows/retro_utils.c -o $GITHUB_WORKSPACE/retro_utils.o $OPT_FLAGS
        GLUE="retro_glue.c"
        if [ "${{ matrix.core.id }}" == "pokemini" ]; then GLUE="retro_pokemini.c"; fi
        emcc -c $GITHUB_WORKSPACE/emux/.github/workflows/$GLUE -o $GITHUB_WORKSPACE/retro_glue.o $OPT_FLAGS -s USE_ZLIB=1
        
        EXTRA=""
        if [[ "${{ matrix.core.id }}" == "pce" || "${{ matrix.core.id }}" == "wswan" || "${{ matrix.core.method }}" == "arcade" || "${{ matrix.core.id }}" == "pokemini" || "${{ matrix.core.id }}" == "lynx" ]]; then
          EXTRA="$GITHUB_WORKSPACE/retro_glue.o"
        fi

        emcc $(find . -name "*.o") $EXTRA $GITHUB_WORKSPACE/retro_utils.o $OPT_FLAGS \
          -s WASM=1 -s USE_ZLIB=1 -s ENVIRONMENT=web -s MALLOC=emmalloc \
          -s ALLOW_MEMORY_GROWTH=1 -s WASM_BIGINT=1 --no-heap-copy -s ALLOW_TABLE_GROWTH=1 \
          -s INITIAL_MEMORY=${{ matrix.core.initial_mem }} -s STACK_SIZE=${{ matrix.core.stack }} -s FORCE_FILESYSTEM=1 \
          -s EXPORTED_RUNTIME_METHODS='["addFunction","FS","stringToUTF8","UTF8ToString","ccall","cwrap","getValue","setValue"]' \
          -s EXPORTED_FUNCTIONS='["_retro_init","_retro_run","_retro_load_game","_retro_get_system_av_info","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_malloc","_free","_retro_serialize_size","_retro_serialize","_retro_unserialize","_emux_is_dirty","_emux_render16","_emux_render32","_emux_audio_reset","_emux_audio_process","_emux_audio_get_buffer_l","_emux_audio_get_buffer_r","_emux_audio_set_core_rate"]' \
          -s ERROR_ON_UNDEFINED_SYMBOLS=1 -s ASSERTIONS=0 \
          -o ${{ matrix.core.id }}.js

        rm -f *.zip
        if [ "${{ matrix.core.method }}" == "arcade" ]; then
          mv ${{ matrix.core.id }}.js arcade.js && mv ${{ matrix.core.id }}.wasm arcade.wasm
          zip -j arcade.zip arcade.js arcade.wasm
        else
          zip -j ${{ matrix.core.id }}.zip ${{ matrix.core.id }}.js ${{ matrix.core.id }}.wasm
        fi

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.core.id }}-core
        path: libretro-super/libretro-${{ matrix.core.fetch }}/*.zip

  deploy-cores:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: all-cores
        merge-multiple: true
    - uses: actions/upload-artifact@v4
      with:
        name: all-cores-bundle
        path: all-cores/

  deploy-static:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: cores
          merge-multiple: true
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: builds
          folder: cores
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true