name: Build MAME 2003 WASM

on:
  push:
    paths:
      - '.github/workflows/build-mame2003-wasm.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Emscripten
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.46
        actions-cache-folder: 'emsdk-cache-mame2003'

    - name: Clone MAME 2003
      run: git clone --depth 1 https://github.com/libretro/mame2003-libretro.git

    - name: Build MAME 2003
      run: |
        cd mame2003-libretro
        # Use CC/CXX overrides to ensure emscripten is used
        emmake make -f Makefile platform=emscripten -j$(nproc)
        
        # Surgically compile missing libretro-common files if they weren't included
        # Some cores exclude these on emscripten platform but they are needed for standalone WASM
        COMMON_DIR=$(find . -name "libretro-common" -type d | head -n 1)
        if [ -z "$COMMON_DIR" ]; then
           git clone --depth 1 https://github.com/libretro/libretro-common.git libretro-common
           COMMON_DIR="libretro-common"
        fi
        
        echo "Using libretro-common at: $COMMON_DIR"
        INCLUDE_FLAGS="-I. -Isrc -Isrc/libretro -I$COMMON_DIR/include -DHAVE_VFS -DHAVE_STDINT_H -DHAVE_STDLIB_H"
        
        emcc -O3 $INCLUDE_FLAGS -c $COMMON_DIR/crypto/md5.c -o md5.fix.o || true
        emcc -O3 $INCLUDE_FLAGS -c $COMMON_DIR/file/file_path.c -o file_path.fix.o || true
        emcc -O3 $INCLUDE_FLAGS -c $COMMON_DIR/streams/interface_stream.c -o interface_stream.fix.o || true
        emcc -O3 $INCLUDE_FLAGS -c $COMMON_DIR/streams/file_stream.c -o file_stream.fix.o || true
        emcc -O3 $INCLUDE_FLAGS -c $COMMON_DIR/vfs/vfs_implementation.c -o vfs_implementation.fix.o || true
      
    - name: Link WASM + JS
      run: |
        cd mame2003-libretro
        
        # Link ALL found object files + the newly compiled fixes
        emcc \
        -O3 \
        $(find . -name "*.o" ! -name ".*") \
        -s WASM=1 \
        -s USE_ZLIB=1 \
        -s ALLOW_MEMORY_GROWTH=1 \
        -s INITIAL_MEMORY=268435456 \
        -s STACK_SIZE=5242880 \
        -s ENVIRONMENT=web \
        -s EXPORT_NAME="'Module'" \
        -s FORCE_FILESYSTEM=1 \
        -s ERROR_ON_UNDEFINED_SYMBOLS=0 \
        -s EMULATE_FUNCTION_POINTER_CASTS=1 \
        -s EXPORTED_RUNTIME_METHODS='["addFunction","ccall","cwrap","FS","HEAPU8","HEAP16","HEAP32","HEAPU32","UTF8ToString","getValue","setValue","stringToUTF8"]' \
        -s EXPORTED_FUNCTIONS='["_retro_init","_retro_deinit","_retro_run","_retro_load_game","_retro_unload_game","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_retro_get_system_av_info","_malloc","_free"]' \
        -s ALLOW_TABLE_GROWTH=1 \
        -o ../src/core/mame2003_libretro.js
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mame2003-wasm
        path: src/core/mame2003_libretro.*