name: Build Gambatte Core

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: emux

      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.46

      - name: Fetch Gambatte
        run: |
          git clone --depth 1 https://github.com/libretro/gambatte-libretro.git gambatte

      - name: Build Core
        run: |
          cd gambatte
          # Build core with static linking to ensure all objects are generated
          emmake make -f Makefile.libretro platform=emscripten STATIC_LINKING=1 -j$(nproc)

          # Find all object files. Gambatte source is in libgambatte/src
          # We also need to make sure libretro-common files are included if they were built
          ALL_OBJS=$(find . -name "*.o")
          
          # Link everything into one WASM
          emcc $ALL_OBJS -O2 \
            -s WASM=1 -s ENVIRONMENT=web \
            -s ALLOW_MEMORY_GROWTH=1 -s ALLOW_TABLE_GROWTH=1 \
            -s NO_EXIT_RUNTIME=1 \
            -s EXPORTED_RUNTIME_METHODS='["addFunction","getValue","setValue","ccall","cwrap","UTF8ToString","stringToUTF8"]' \
            -s EXPORTED_FUNCTIONS='["_retro_init","_retro_run","_retro_load_game","_retro_get_system_av_info","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_malloc","_free"]' \
            -s ERROR_ON_UNDEFINED_SYMBOLS=0 \
            --no-entry \
            -o gambatte_core.js

          zip -j gambatte.zip gambatte_core.js gambatte_core.wasm

      - uses: actions/upload-artifact@v4
        with:
          name: gambatte-core
          path: gambatte/gambatte.zip
