name: Build QuickNES
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.46
          
      - name: Build QuickNES
        run: |
          git clone --depth 1 https://github.com/libretro/QuickNES.git libretro-quicknes
          cd libretro-quicknes
          make platform=emscripten CC=emcc CXX=em++ AR=emar
          
          # Rename output to library archive
          mv quicknes_libretro_emscripten.bc libquicknes.a
          
          # Link
          emcc -O3 \
          -s WASM=1 \
          -s LEGACY_RUNTIME=1 \
          -s ALLOW_MEMORY_GROWTH=1 \
          -s ALLOW_TABLE_GROWTH=1 \
          -s EMULATE_FUNCTION_POINTER_CASTS=1 \
          -s ENVIRONMENT=web \
          -s USE_ZLIB=1 \
          -s EXPORTED_RUNTIME_METHODS='["addFunction","removeFunction","cwrap","ccall","FS","HEAPF64","HEAPU8","HEAPU32","HEAP32"]' \
          -s EXPORTED_FUNCTIONS='["_retro_init","_retro_deinit","_retro_run","_retro_load_game","_retro_unload_game","_retro_set_environment","_retro_set_video_refresh","_retro_set_audio_sample","_retro_set_audio_sample_batch","_retro_set_input_poll","_retro_set_input_state","_retro_get_system_av_info","_retro_set_controller_port_device","_malloc","_free"]' \
          -Wl,--whole-archive libquicknes.a -Wl,--no-whole-archive \
          -o quicknes.js

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: quicknes-wasm
          path: |
            libretro-quicknes/quicknes.js
            libretro-quicknes/quicknes.wasm
